# -----------------------
# Python
# -----------------------

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
backend/venv/
venv/

# Environment Variables
.env
*.env

# Python cache
.pytest_cache/
.mypy_cache/

# -----------------------
# Node
# -----------------------

frontend/node_modules/

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# -----------------------
# Vite
# -----------------------

frontend/dist/

# -----------------------
# VS Code
# -----------------------

.vscode/

# -----------------------
# macOS
# -----------------------

.DS_Store

# -----------------------
# Logs
# -----------------------

*.log

# -----------------------
# Build
# -----------------------

build/
dist/

# -----------------------
# IDE
# -----------------------

.idea/